.apd_root
    select.apd_elem.apd_select_day.apd_select(
    ng-model="data.selected.d",
    ng-options="day for day in data.list.d",
    ng-init="data.selected.d = data.list.d[0]",
    ng-change="onDaySelectChanged(data.selected.d)",
    id="{{::apdDayId}}",
    class="{{::apdDayClasses}}"
    )
    span.apd_elem.apd_day_of_week(
    ng-bind="daysList[data.selected.dow]"
    )
    select.apd_elem.apd_select_month.apd_select(
    ng-model="data.selected.m",
    ng-options="monthList[month] for month in data.list.m",
    ng-init="data.selected.m = data.list.m[0]",
    ng-change="onMonthSelectChanged(data.selected.m)",
    id="{{::apdMonthId}}",
    class="{{::apdMonthClasses}}"
    )
    select.apd_elem.apd_select_year.apd_select(
    ng-model="data.selected.y",
    ng-options="year for year in data.list.y",
    ng-init="data.selected.y = data.list.y[0]",
    ng-change="onYearSelectChanged(data.selected.y)",
    id="{{::apdYearId}}",
    class="{{::apdYearClasses}}"
    )