.apd_root
    select.apd_elem.apd_select_day.apd_select(
    ng-model="data.selected.day",
    ng-options="day for day in data.days",
    ng-init="data.selected.day = data.days[0]",
    ng-change="onDaySelectChanged(data.selected.day)",
    id="{{::apdDayId}}",
    class="{{::apdDayClasses}}"
    )
    span.apd_elem.apd_day_of_week(
    title="{{getDayName(data.selected.dayOfWeek)}}",
    ng-bind="getDayShortName(data.selected.dayOfWeek)"
    )
    select.apd_elem.apd_select_month.apd_select(
    ng-model="data.selected.month",
    ng-options="(month + 1) for month in data.month",
    ng-init="data.selected.month = data.month[0]",
    ng-change="onMonthSelectChanged(data.selected.month)",
    id="{{::apdMonthId}}",
    class="{{::apdMonthClasses}}"
    )
    select.apd_elem.apd_select_year.apd_select(
    ng-model="data.selected.year",
    ng-options="year for year in data.years",
    ng-init="data.selected.year = data.years[0]",
    ng-change="onYearSelectChanged(data.selected.year)",
    id="{{::apdYearId}}",
    class="{{::apdYearClasses}}"
    )